<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  Users:
  <%= hidden_field_tag "game[seats_attributes][][user_id]", current_user.id %>
  <div class="multiselect">
    <select multiple="multiple">
      <%= options_from_collection_for_select @users, :id, :login %>
    </select>
    <select multiple="multiple" name="game[seats_attributes][][user_id]">
    </select>
  </div>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>
<% javascript_tag do %>
  $(function() {
    $('.multiselect').multiselect({autoSize: true});
  })
<% end %>
